 
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a3d00, #b48209);
    color: #fff;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header .logo {
    font-size: 28px;
}

header nav a {
    margin-left: 35px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease;
}

header nav a:hover {
    color: #f7d28c;
}

 
.section-title {
    text-align: center;
    margin-top: 60px;
}

.section-title h1 {
    font-size: 48px;
    font-weight: bold;
}

.section-title p {
    font-size: 20px;
    margin-top: 10px;
}
 
.reservation-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.reservation-box {
    width: 450px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 15px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.reservation-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}
 
.reservation-box label {
    font-size: 18px;
    margin-top: 10px;
    display: block;
}

.reservation-box input,
.reservation-box select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
}

.reservation-box input::placeholder {
    color: #f3e3c5;
}

.reservation-box select {
    cursor: pointer;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #f7d28c;
    border: none;
    color: #000;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: #ffe3b5;
}
