 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a3d00, #b48209);
    color: #fff;
}

 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header .logo {
    font-size: 28px;
}

header nav a {
    margin-left: 35px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease;
}

header nav a:hover {
    color: #f7d28c;
}

 .section-title {
    text-align: center;
    margin-top: 60px;
}

.section-title h1 {
    font-size: 48px;
    font-weight: bold;
}

.section-title p {
    font-size: 20px;
    margin-top: 10px;
}
 
.products {
    margin: 80px auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
}

 
.product-card {
    background: rgba(255, 255, 255, 0.12);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(6px);
    transition: 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.product-card:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.18);
}

 
.product-card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

 
.product-card h3 {
    font-size: 22px;
    margin-top: 10px;
}

 
.price {
    font-size: 20px;
    margin: 10px 0;
}

.price span {
    text-decoration: line-through;
    opacity: 0.6;
}
 
button {
    padding: 10px 20px;
    background: #f7d28c;
    border: none;
    color: #000;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #ffe3b5;
}
